<app-stars></app-stars>
<div id="projects">
  <h1>THEUNDEREMPIRE.COM</h1>

  <div id="links">
    <p *ngFor="let link of links">

      <a href="{{link.link}}">
        <img [src]="link.image" alt="{{link.text}}">
        <span>{{link.text}}</span>
      </a>
    </p>
  </div>
</div>
