$green: #99c794;

#projects {
  background: rgba(33, 33, 33, .75);
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  position: relative;
  width: 100%;
  z-index: 1;

  #links {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: flex-start;
    justify-content: center;
  }

  h1 {
    color: $green;
    font-family: 'Krona One', sans-serif;
    font-size: 19px;
    padding-bottom: 20px;
    text-align: center;
    width: 100%;
  }

  p {
    margin: 0 5px 10px;
    text-align: center;
    width: 125px;

    a {
      display: block;
      height: 170px;
      padding: 5px;
      
      &:hover {
        color: #f99157;
        //animation: pulse 1s infinite ;
        //animation-direction: alternate;
        //animation-timing-function: ease;
      }
    }
    
    img {
      display: inline-block;
    }

    span {
      display: block;
      margin: 10px 0 0;
    }
  }
}

@keyframes pulse {
  from {color: #fac863}
  to {color: #f99157}
}