$numGroups: 20;
$starSize: 3px;

.star {
  background: #FFF;
  height: $starSize;
  position: absolute;
  width: $starSize;
  opacity: 1;
  animation-name: starTwinkle;
  animation-direction: alternate;
  animation-duration: 1s;
  animation-iteration-count: infinite;

  @for $i from 1 through $numGroups {
    $groupString: '.group-' + $i;
    &#{$groupString} {
      animation-delay: $i/2 + s;
    }
  }
}

@keyframes starTwinkle {
  from {opacity: 1}
  to {opacity: 0.1}
}
