* {
    box-sizing: border-box;
}

body {
    align-items: flex-start;
    background: #000;
    display: flex;
    font-family: 'Oswald', sans-serif;
    height: 95vh;
    justify-content: center;
    margin: 10px auto;
    width: 95vw;

    @media only screen and (min-height: 813px) {
        align-items: center;
    }
}

a,
a:link,
a:visited,
a:hover,
a:active {
    color: #fac863;
    text-decoration: none;
}

.stars {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
}

.star {
    cursor: pointer;
}
